body, html {
  padding: 0px;
  margin: 0px;
  border: none;
  background: #341e24;

  --shadow-x: 1px;
  --shadow-y: 2px;
  --shadow-big-width: 10px;
  --shadow-big-offset: -4px;
  --shadow-big-color: rgba(0, 0, 0, 0.75);
}

#preview-window, #node-window, #outline-window, #properties-window {
  border: 1px solid #161616;
  box-sizing: border-box;
  position: absolute;
  --window-margin: 0px;
  margin: var(--window-margin);
  z-index: 0;
}

#preview-window {
  width: calc(40vw - var(--window-margin) * 2);
  height: calc(30vw - var(--window-margin) * 2);
  top: 0;
  left: 0;
}

#node-window {
  width: calc(55vw - var(--window-margin) * 2 - 10em);
  height: calc(100vh - var(--window-margin) * 2);
  top: 0;
  right: 0;
  background: #533a3f;
}

#outline-window {
  width: calc(40vw - var(--window-margin) * 2);
  height: calc(100vh - 30vw - var(--window-margin) * 2);
  bottom: 0;
  left: 0;
  background: #533a3f;
}

#properties-window {
  top: 0;
  bottom: 0;
  width: calc(10em + 5vw - var(--window-margin) * 2);
  left: 40vw;
  background: #422a2e;
}

#preview-canvas {
  width: 100%;
  height: 100%;
}

#outline-window > .menu {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1em;
  background: #422a2e;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.2em;
}

.menu > div {
  color: #dfdfdf;
  min-width: 1em;
  height: 1em;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.menu > div:hover {
  background: #553a3f;
  color: #ffffff;
}

#outline-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-bottom: 1.4em;
  box-shadow: var(--shadow-x) var(--shadow-y) var(--shadow-big-width) var(--shadow-big-offset) var(--shadow-big-color) inset;
}

#outline-list > li {
  padding: 0;
  margin: 0;
  --padding-vertical: 1px;
  height: calc(1em + var(--padding-vertical) * 2);
  background: rgba(113, 77, 81, 0);
  cursor: pointer;
}

#outline-list > li.selected {
  background: rgba(66, 42, 46, 1);
}

#outline-list > li:hover {
  background: rgba(113, 77, 81, 1);
}

#outline-list > li > div:nth-child(1) {
  display: inline-block;
  padding-left: 4px;
  padding-right: 4px;
  color: white;
}

#properties-window > .title {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1em;
  background: #341e24;
  color: white;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  padding-left: 0.3em;
}

#properties-window > * > .tab-title {
  left: 0;
  right: 0;
  height: 1em;
  background: #341e24;
  color: white;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
  padding-left: 0.3em;
}

#properties-list {
  color: #fdfdfd;
  margin-top: 1.4em;
  padding-top: 0.4em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-bottom: 0.4em;
}

#properties-list > div {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  height: 1em;
}

#properties-list > div > div {
  display: inline-block;
  --input-margin: 2px;
}

#properties-list > div > div:nth-child(1) {
  max-width: 40%;
  float: left;
}

#properties-list > div > div:nth-child(2) {
  width: 60%;
  float: right;
}

#properties-list > div:not(:nth-last-child(1)) {
  border-bottom: 1px solid #341e24;
}

#properties-list .property-slider {
  width: calc(60% - var(--input-margin) * 2);
  margin-left: var(--input-margin);
  margin-right: var(--input-margin);
  margin-top: 0.1em;
  margin-bottom: 0;
  vertical-align: top;
}

#textures-list {

}

#textures-list > .texture {
  color: #fdfdfd;
  padding-left: 0.2em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-right: 0.2em;
}

#textures-list > .texture > .name {
  display: inline-block;
  width: calc(100% - 1.2em);
  overflow-x: scroll;
  overflow-y: visible;
  max-height: 1.75em;
  word-break: keep-all;
}

#textures-list > .texture > .name > div {
  white-space: nowrap;
}

#textures-list > .texture > .remove {
  display: inline-block;
  margin-top: 0.2em;
  margin-left: 0.1em;
  cursor: pointer;
  color: #fdfdfd;
  vertical-align: top;
}
#textures-list > .texture > .remove:hover {
  color: #ffffff;
  background: #553a3f;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  display: inline-block;
  padding: 0;
  height: 1em;
  background: #714d51;
  box-shadow: 1px 2px 4px -2px rgba(0, 0, 0, 0.4) inset;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1em;
  height: 1em;
  background: #7E7CA6;
  cursor: pointer;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
}

input[type=range]::-moz-range-thumb {
  width: 1em;
  height: 1em;
  background: #7E7CA6;
  cursor: pointer;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.5);
}

#properties-list .property-input {
  width: calc(40% - var(--input-margin) * 2);
  margin-left: var(--input-margin);
  margin-right: var(--input-margin);
  margin-top: 0.1em;
  margin-bottom: 0;
}

input[type=number] {
  display: inline-block;
  padding: 0;
  padding-left: 0.2em;
  padding-right: 0.2em;
  outline: none;
  border: none;
  background: #714d51;
  color: #fdfdfd;
  height: 1em;
  vertical-align: top;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px -2px rgba(0, 0, 0, 0.4) inset;
}

input[type=color] {
	-webkit-appearance: none;
	border: none;
	width: 2em;
	height: 1em;
  background: #714d51;
  padding: 0;
}
input[type=color]::-webkit-color-swatch-wrapper {
	padding: 0;
  box-shadow: 1px 2px 4px -2px rgba(0, 0, 0, 0.4) inset;
}
input[type=color]::-webkit-color-swatch {
	border: none;
  box-shadow: 1px 2px 4px -2px rgba(0, 0, 0, 0.4) inset;
}

input:focus {
  outline: none;
}

#preview-drag {
  position: absolute;
  box-sizing: border-box;
}

#preview-drag.invisible {
  visibility: hidden;
}

#preview-drag:not(.invisible) {
  visibility: visible;
  cursor: move;
}

div:focus {
  outline: none;
}

#upload-image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#upload-image-label {
  padding: 0.1em;
  cursor: pointer;
  display: inline-block;
  color: #fdfdfd;
  margin: 0.2em;
}
#upload-image-label:hover {
  background: #553a3f;
  color: #ffffff;
}

i.material-icons {
  margin-top: -0.1em;
  font-size: inherit;
  vertical-align: bottom;
  padding-bottom: 0.1em;
}

*::-webkit-scrollbar-track {
  width: 4px;
  height: 4px;
  background: rgba(166, 109, 130, 0.5);
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: rgba(166, 109, 130, 0);
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #7e7ca6;
}
